<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.musculardistrophy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MuscularDistrophy">
        <activity android:name=".Message.MessageActivity"></activity>

        <service
            android:name=".Notification.NotificationService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".ui.home.userProfile" />
        <activity android:name=".ui.profile.savePostList" />
        <activity android:name=".ui.profile.userPostList" />
        <activity android:name=".ui.profile.editProfile" />
        <activity android:name=".ui.home.CommentActivity" />
        <activity android:name=".Login.Register_OTP" />
        <activity android:name=".Login.Login_OTP_Activity" />
        <activity android:name=".Login.Register_Activity" />
        <activity android:name=".Login.Login_Activity" />
        <activity android:name=".Flash_Screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>